chart-studio==1.1.0
conda==4.9.2
conda-package-handling @ file:///opt/concourse/worker/volumes/live/a7e34989-4c54-4cb6-4156-4e58ee270730/volume/conda-package-handling_1603018121300/work
distlib==0.3.1
docopt==0.6.2
entrypoints==0.3
filelock==3.0.12
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
ipython==7.22.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==2.11.3
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
numpy==1.20.2
packaging==20.9
pandas==1.2.3
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
pipenv==2020.11.15
pipreqs==0.4.10
plotly==4.14.3
prompt-toolkit==3.0.18
psycopg2-binary==2.8.6
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks @ file:///opt/concourse/worker/volumes/live/85a5b906-0e08-41d9-6f59-084cee4e9492/volume/pysocks_1594394636991/work
python-dateutil==2.8.1
